* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100%;
}

ul {
  list-style: none;
}

a {
  color: #000;
  text-decoration: none;
}

#bg {
  width: 100%;
  height: 100%;
  background: url(./img/1.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  
  
}
.log{
  animation: fadeOut 2s ease 0.7s 1 normal forwards;
  position: absolute;
  background: #fff;
  z-index : 999;
  height: 100vh;
  width :100vw;
  display: block;
}
@keyframes fadeOut {

  0% {
    opacity: 1;
    
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }

}
nav {
  background: rgba(0, 0, 0, .6);
  width: 100%;
  height: 80px;
  padding: 0 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav h1 {
  color: #fff;
  cursor: pointer;
}

nav ul li {
  padding: 4px 8px;
  display: inline-block;
}

nav ul li:hover {
  cursor: pointer;
  background: #666;
}

nav a {
  color: #fff;
}

.catch {
  /* background: rgba(255, 255, 255, .3); */
  padding: 4px;
  border-radius: 8px;
  color: #fff;
  position: absolute;
  top: 45%;
  left: 5%;
}

h2 {
  color: #fff;
  position: absolute;
  top: 90px;
  left: 45%;
  
}
h3 {
  color: #fff;
  position: absolute;
  top: 90px;
  left: 15%;
  
}
h4 {
  color: #fff;
  position: absolute;
  top: 30px;
  left: 15%;
  
}
.gal{
  position: absolute;
  background: rgba(0, 0, 0, .6);
  width: 70%;
  height: 75%;
  top: 160px;
  left: 15%;
  overflow:auto;
  
 
}
#ga {
  margin: 4px 8px;
  text-align: center;
  margin: 0 auto;
}
#ga li{
  
  padding: 40px 40px;
  width: 340px;
  height: 240px;
  
  
  display: inline-block;
}

#ga li a{
  color: #fff;
 
}
#ga li img {
  width: 100%;
  height: 100%;
}

.str{
  color: #fff;
  position: absolute;
  top: 150px;
  left: 5%;
}
.gl{
  position: absolute;
  background: rgba(0, 0, 0, .6);
  width: 70%;
  height: 75%;
  top: 160px;
  left: 15%;
}
p{
  color: #fff;
}
.icon1 {
  width: 100%;
  height: 100%;
  background: url(./img/icon.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  animation: mul 2s ease 0.9s  infinite alternate-reverse ;
  mix-blend-mode: multiply; 
  position: absolute;
}
.icon2 {
  width: 100%;
  height: 100%;
  background: url(./img/icon2.png) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
  animation: mul 2s ease 0.7s  infinite alternate ;
  mix-blend-mode: multiply; 
  position: absolute;
}
@keyframes mul {

  0% {
    opacity: 1;
    
  }
  10% {
    opacity: 0;
    
  }
  20% {
    opacity: 1;
    
  }


  100% {
    opacity: 0;
    
  }

}